<div class="container" style="margin-top: 5em">
  <div class=" d-flex justify-content-center booking-scroll">
    <div style="width: 50%;">
      <h1>Réserver!</h1> 
      <%= simple_form_for [@boat, @booking], method: "post" do |f| %>
        <%= f.input :start_date, label: "Date de début" %>
        <%= f.input :end_date, label: "Date de fin"%>
        <%= f.submit "Envoyez", class: "btn btn-clr btn-lg", id: "submit-button" %>
      <% end %>
    </div>
  </div>
</div>